{% extends 'shared/_Layout.html' %}
{% load render_partial %}
{% block title %}
    صحفه تغییر رمز عبور
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% render_partial 'user_panel_module.views.user_panel_component' %}
            </div>
            <div class="col-md-8 form-group">
                {% if change_pass_form.errors %}
                    {% for field in change_pass_form.fields %}
                        {% for error in field.error %}
                            <div class="alert alert-danger">
                                <strong>{{ error | escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                <form enctype="multipart/form-data" method="post" action="{% url 'change-profile-password' %}">
                    {% csrf_token %}
                    {{ change_pass_form.as_p }}
                    <button type="submit" class="btn btn-success">ثبت</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}