{% extends 'shared/_Layout.html' %}
{% load render_partial %}
{% load thumbnail %}

{% block title %}
    ویرایش اطلاعات کاربری
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% if current_user.avatar %}
                    {% thumbnail current_user.avatar '360x250' crop='center' quality=80 as image %}
                        <img src="{{ image.url }}" alt="" class="">
                    {% endthumbnail %}
                {% else %}
                    <img src="/static/images/blog/blog-one.jpg" alt="" class="img-fluid thumbnail" width="100%">
                {% endif %}

                {% render_partial 'user_panel_module.views.user_panel_component' %}
            </div>
            <div class="col-md-12 form-group">
                <form enctype="multipart/form-data" method="post" action="{% url 'edit-profile-panel' %}">
                    {% csrf_token %}
                    {{ form_model.as_p }}
                    <button type="submit" class="btn btn-success">ثبت</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}