<ul class="list-group text-center">
    <li class="list-group-item">
        <a href="{% url 'user-panel' %}" class="nav-link">پنل کاربری</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'edit-profile-panel' %}" class="nav-link">ویرایش اطلاعات</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'change-profile-password' %}" class="nav-link">تغییر کلمه عبور</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'user-order-history' %}" class="nav-link">نمایش اطلاعات خرید کاربر</a>
    </li>
</ul>
