<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        فعالسازی حساب کاربری
    </title>
</head>
<body>
<div dir="rtl">
    <h1 class="fa-bold">فعالسازی حساب کاربری</h1>
    <h6>جهت فعالسازی حساب کاربری خود بر روی لینک زیر کلبک کنید</h6>
    <p><a href="http://localhost:8000{% url 'active-code-page' email_active_code=user.email_active_code %}">فعاسازی حساب
        کاربری</a></p>
    <p>داداش چقدر سایزت بزرگه</p>
</div>
</body>
</html>