<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        ازیابی رمز عبور
    </title>
</head>
<body>
    <div dir="rtl">
    <h1 class="fa-bold">بازیابی رمز عبور</h1>
    <h6>جهت بازیابی رمز حساب کاربری خود بر روی لینک زیر کلبک کنید</h6>
    <p><a href="http://localhost:8000{% url 'reset-password-page' email_active_code=user.email_active_code %}">بازیابی حساب کاربری</a></p>
</div>
</body>
</html>